tailwind.config= {
    theme: {
        extend: {
            /* color  */
            colors: {
                headerBg: '#DBD5FB', btnColor: '#7258F7', h1Color: '#3D3430', pColor: '#5F5450'
            }
            ,
            /* color  */
            /* background image  */
            backgroundImage: {
                bannerBg: "url(./images/Header.png)",
                onlineBg: "url(./images/help.png)",
                doBg: "url(./images/do.png)",
            }
            ,
            /* background image  */
            fontSize: {
                64: '64px',  40: '35px',30: '25px', 35:'23px',
            }
            ,
            fontFamily: {
                'fun': ["Paprika"],
            }
        }
    }
}